/********************************************************************/
/* CSS Base File                                            		*/
/********************************************************************/

/*parte editabile
link decoration */
A:link 	{text-decoration: underline; color: white} 
A:visited {text-decoration: underline; color: white} 
A:hover { text-decoration: none; color:  #C8BCFE}

/*tolgo il bordo dalle immagini*/
img
	{
	border: 0px;
	}
/*allineo il testo nelle tabelle*/
td {
    text-align: center;
}

abbr {
	cursor: help;
	border-bottom: 1px dashed #999;
	}
    

/*sfondo*/
body {background-image: url('images/background.jpg'); background-repeat: repeat;}
/*colore testo*/
* { color: white; }
/*colore dei form input*/
input {color: black;}
select {color: black;}
optgroup {color: black;}
textarea {color:black;}
option {color:black;}
/*fine parte editabile*/

/* style avvisi */

.opaco{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 2000px;
  height: 1500px;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.60;
  filter: alpha(opacity=60);
}

.contenent {
  color: white;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  padding: 16px;
  border: 10px solid #3B3B3B;
  background: url(images/center.jpg);
  background-color: black;
  z-index:1002;
  overflow: inherit auto;
}

/*classe per gli input delle coordinate*/
.coords{
    width: 30px;
    height: 20px;
}

/*risorse*/
.metallo {
    color: #FF870F;
}
.cristallo{
    color: green;
}
.deuterio{
    color: blue;
}

/*stetistiche*/
.danni{
    color: red;
}
.guadagno{
    color: green;
}
.stats{
    color: yellow;
}

/*tabella delle funzioni ok e errore*/
#table_center{
height:100px;
width:500px;
margin-top: -50px;
margin-left: -250px;
left:50%;
top:50%;
position:absolute;
color: black;
} 

/*stile del shiptool*/
.itable
{
    color: black;
	background-color: #C0C0C0;
	text-align: center;
}
.header1
{
    color: black;
	background-color: #FFFFFF;
	font-weight: bold;
	background-image: url(images/tablebg.gif);
	text-align: center;
	text-transform: uppercase;
	font-size: 8pt;
	letter-spacing: 5px;
	line-height: 20px;
}
.header1a
	{
    color: gray;
	background-color: black;
	/*font-weight: bold;
	background-image: url(images/tablebg.gif);
	text-align: center;
	text-transform: uppercase;*/
	/*font-size: 8pt;
	/*letter-spacing: 2px;
	line-height: 20px;*/
	}
.header2
	{
	   color: black;
	background-color: #F5F5F5;
	font-size: 8pt;
	}

.null
	{
	color: #D6D6D6;
	}

.infbox
{
	cursor: help;
}
.zeile1
{
    color:  black;
	background-color: #ffffff;
    font-size: 8pt;
	padding: 2px 5px 2px 5px;
}
.zeile2
{
    color: gray;
	background-color: black;
}
.footer
{
    color: black;
	background-color: #F5F5F5;
}
.fieldLabel
{
	font-weight: bold;
}
   /*nomi nei report*/
.grey
	{
	color: #CCC;
	}  
.report
{
    border-left: 1px solid #363636;
    padding: 5px;
}
/*spaziatura*/
TABLE TR TD.spacer {
	padding: 0px;
	height: 1px !important;
	background-color: #363636;
}

.reportcontainer
{
    background-repeat:repeat-y;
    background-position: center;
    background-image:url("images/center.png");
    width: 824px;
    padding-left: 50px; 
    padding-top: 10px;
}
    
    /*form*/
    
.formular
{
	position: absolute;
	left: 300px;
	top: inherit;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:3px;
	border-bottom-width:3px;
	border-style:outset;
	border-color:#777;
}
    
/*feed rss*/

.titlefield{ /*CSS for RSS title link in general*/
text-decoration: none;
color: lime;
}

.labelfield{ /*CSS for label field in general*/
color: green;
font-size: 90%;
}

.datefield{ /*CSS for date field in general*/
color: white;
font-size: 90%;
}

#feed{ /*Demo 3 main container*/
width: 250px;
height: 280px;
border: 1px solid gray;
padding: 4px;
background-color: black;
position: absolute !important; 
top: 300px; 
right: 10px;
}

#feed div p{ /*Demo 3 P element that separates each entry*/
margin-top: 0;
margin-bottom: 7px;
color: green;

}