/* CSS Base File 
normal: #2974dd
over: #49d7ff
inactive: #0a1723

report #024a92

text input: #003d4d
border: #3eaeee
back: #071221
*/

/*layout*/
#header {
	background: url('../img/titolo.png') no-repeat center black;
	width:600px;
	height:250px;
	margin: 0 auto;
	text-align: center;
}
#header h1 {
	font-size:50px;
	margin:0;
}
#container {
	margin-bottom: 100px;
}
#footer {
	bottom:0px;
	position:fixed;
	text-align:center;
	background: black;
	width: 100%;
}
#locale {
	top:0px;
	right:0px;
	position:absolute;
}
.navigation li {
	display:inline;
	padding: 3px;
}
.navigation li:hover{
	border: solid 1px HOVER;
	padding:2px;
}
.navigation {
	text-align:center;
}
.navigation a{
	text-decoration:none;
	font-weight: bold;
}

#loader{
	background:url('../img/loading.gif') center no-repeat fixed;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#loader DIV{
	width: 100%;
	height: 100%;
	filter:alpha(opacity=70);
	opacity:.70;
 	-moz-opacity:.70;
	background: black center no-repeat fixed;
}

/*tag*/
body {
	background-image: url('../img/background.jpg'); background-repeat: repeat;
	color: white;
}

/*link decoration */
A:link 	{text-decoration: underline; color: white} 
A:visited {text-decoration: underline; color: white} 
A:hover { text-decoration: none; color:  #C8BCFE}

/*tolgo il bordo dalle immagini*/
img
	{
	border: 0px;
	}
/*allineo il testo nelle tabelle*/
td {
    text-align: center;
}

abbr {
	cursor: help;
	border-bottom: 1px dashed #999;
}

input {
	color: white;
	background:BACKGROUND;
	border: BORDER solid 1px;
	padding: 2px;
}
input:hover,textarea:hover{
	border: HOVER solid 2px;
	padding: 1px;
}
input:focus,textarea:focus{
	border: HOVER solid 2px;
	padding: 1px;
}
select {color: black;}
optgroup {color: black;}
textarea {
	color: white;
	background:BACKGROUND;
	border: #BORDER solid 1px;
	padding: 2px;
}
option {color:black;}

/*contact form*/

#contact div {
	font-weight: bold;
}

#contact {
	border: 1px solid BORDER;
	padding: 5px;
	background: BACKGROUND;
	margin: 0 auto;
	width: 350px;
	text-align: center;
}

/*reg form*/

#registration_form {
	width:350px;
	margin: 0 auto;
	border: 1px solid BORDER;
	border-radius: 5px;
	background:BACKGROUND;
	padding-left: 40px;
}
#registration_form dt {
	float:left;
	width: 150px;
	padding: 4px;
	
}
#registration_form dd {
	text-align: right;
	margin: 4px 0;
	width: 300px;
	border: 1px solid BORDER;
	padding: 3px;
	border-radius: 5px;
}
#submit-element {
	border:0 !important;
}
.error{
	color:red;
}

/*log*/

#log ol{
	background-color: gray;
}

#log li {
	border: 1px solid white;
	color:black;
}
/*emerg*/
#log li.priority1 {
	background-color:red;
}
/*crit*/
#log li.priority2 {
	background-color:red;
}
/*err*/
#log li.priority3 {
	background-color:red;
}
/*warn*/
#log li.priority4 {
	background-color:orange;
}
/*notice*/
#log li.priority5 {
	background-color:yellow;
}
/*info*/
#log li.priority6 {
	background-color:blue;
}
/*debug*/
#log li.priority7 {
	background-color:white;
}



/*classe per gli input delle coordinate*/
.coords{
    width: 30px;
    height: 20px;
}

/*risorse*/
.metallo {
    color: #FF870F;
}
.cristallo{
    color: green;
}
.deuterio{
    color: blue;
}

/*stile del shiptool 
@todo da rivedere*/

input.readonly{
	display:none;
}
span.readonly{
	display:inline;
}
input.ship {
	width:50px;
}
input.ship:focus {
	width:90px;
}
span.ship {
	display:none;
}
/*ship*/
table.ship td {
	background:REPORT;
}
table.ship {
	border: 1px solid BORDER;
}

div.tabs {
	width: 900px;
	margin: 0 auto;
}

div.ship {
	height:50px;
	width:50px;
	overflow: hidden;
	background-repeat: no-repeat;
}
div.ship.TITAN {
	background:url('../img/ship/TITAN.jpg');
}
div.ship.TERRAN {
	background:url('../img/ship/TERRAN.jpg');
}
div.ship.XEN {
	background:url('../img/ship/XEN.jpg');
}

div.ship.ALIEN {
	background:url('../img/ship/ALIEN.jpg');
}

.Fighter {
	background-position: -260px 0 !important;
}
.Destroyer{
	background-position: -312px 0 !important;
}
.Cruiser{
	background-position: -364px 0 !important;
}
.Battleship{
	background-position: -416px 0 !important;
}
.Bomber{
	background-position: -468px 0 !important;
}
.Frigate{
	background-position: -520px 0 !important;
}
.Recycler{
}
.LargeRecycler{
	background-position: -52px 0 !important;
}
.LargeFreighter{
	background-position: -104px 0 !important;
}
.TerranFreighter {
	background-position: -104px 0 !important;
}
.Freighter{}
.Probe{
	background-position: -572px 0 !important;
}
.Pulsar{}
.Scout{
	background-position: -260px 0 !important;
}
.Delphi{
	background-position: -312px 0 !important;
}
.Corsair{
	background-position: -364px 0 !important;
}
.Terminator{
	background-position: -416px 0 !important;
}
.Carrier{
	background-position: -468px 0 !important;
}
.Phoenix{
	background-position: -520px 0 !important;
}
.Freighter{
	background-position: -52px 0 !important;
}
.Observer{
	background-position: -208px 0 !important;
}
.Protector{
	background-position: -572px 0 !important;
}
.Xnair{
	background-position: -260px 0 !important;
}
.Mylon{
	background-position: -312px 0 !important;
}
.Maxtron{
	background-position: -364px 0 !important;
}
.Mothership{
	background-position: -416px 0 !important;
}
.Suikon{
	background-position: -468px 0 !important;
}
.Octopon{
	background-position: -52px 0 !important;
}
.Zek{
	background-position: -104px 0 !important;
}
.Zekkon{
	background-position: -156px 0 !important;
}
.Psikon{
	background-position: -520px 0 !important;
}
.Macid{
	background-position: -572px 0 !important;
}
.XenBomber {
	background-position: -208px 0 !important;
}
.ColonyShip{
	background-position: -156px 0 !important;
}
.XenColonyShip{
	
}
.Pholidoteuthis{

}
.Chiroteuthis{
	background-position: -52px 0 !important;
}
.Sepioteuthis{
	background-position: -156px 0 !important;
}
.Architeuthis{
	background-position: -104px 0 !important;
}

/*planet page*/

.planet{
	margin: 0 auto;
	width:300px;
	border:1px solid BORDER;
	border-collapse:collapse;
	background:BACKGROUND;
}
.planet .button {
	width: 80px;
	padding: 2px 0;
}

.null
	{
	color: #D6D6D6;
	}

.infbox
{
	cursor: help;
}

.footer
{
    color: black;
	background-color: #F5F5F5;
}
   /*nomi nei report*/
.grey
	{
	color: #CCC;
	}  
.report
{
    border-left: 1px solid #363636;
    padding: 5px;
}