/********************************************************************/
/*                                                             		*/
/*                Dev.Login v.3.0                       	        */
/*                                                             		*/
/* Copyright: 														*/
/* © 2005/2007 					   		            				*/
/* Dev.Labs      :  http://www.devlabs.it 	 	                    */
/*                                                             		*/
/* 																	*/
/* Author:															*/
/* Giuliano Messina - .Dev. (aka NeO_Giu)                           */
/* 																	*/
/********************************************************************/
/* IE Style                                            		        */
/********************************************************************/

.profile {
	margin-left:25px;
}

.profile2 {
    margin-top:4px; 
	margin-left:25px;
}